
<body style="background-image: img/login;">
  <div class="bg-light p-5 rounded-lg m-3" style="background-color: cornflowerblue;">
  <h1 class="display-4">Bem vindo!</h1>
  <p class="lead">Aplicação criada utilizando Node.js</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="usuarios/registro" role="button" style="background-color:rgb(58, 58, 177); border-color:rgb(58, 58, 177)">Crie uma conta</a>
</div>
</body>



